<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<!-- <link rel="stylesheet" href="assets/css/reset.css"> -->
	    <title>Battle Buddy</title>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
		<link rel="stylesheet" href="/assets/css/buddy_style.css" type="text/css" />
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<!-- <script src="/assets/js/frontEnd.js"></script> -->
	    <script>
			$(document).ready($( function() {
			    $( "#datepicker" ).datepicker({
			    	minDate: new Date()
			    });
			  } ));
		</script>
	</head>
	<body>
		{{{ body }}}
	</body>


<script>

	$('#submitbtn').click(function(event) {       
		event.preventDefault();
    //Get the data from all the fields
    var userName = $('');
    var ad_id = $('input[name=ad_id]');
    var ip_address = $('input[name=ip_address]');

    $.post('../vote_plus.php', { user: "user_id.val()", ad: "ad_id.val()", ip: "ip_address.val()" }, function () {
            $('.success_msg').append("Vote Successfully Recorded").fadeIn();
        });
        
    }); 
	
</script>
