<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
		<!-- <link rel="stylesheet" href="assets/css/reset.css"> -->
	    <title>Battle Buddy</title>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Oswald" rel="stylesheet">
	    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
	    <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
	    <!-- <link rel="stylesheet" type="text/css" href="buddy_style.css"> -->
	</head>
	<body>
		{{{ body }}}
	</body>


<script>

	$('#submitbtn').click(function(event) {       
		event.preventDefault();
    //Get the data from all the fields
    var userName = $('');
    var ad_id = $('input[name=ad_id]');
    var ip_address = $('input[name=ip_address]');

    $.post('../vote_plus.php', { user: "user_id.val()", ad: "ad_id.val()", ip: "ip_address.val()" }, function () {
            $('.success_msg').append("Vote Successfully Recorded").fadeIn();
        });
        
    }); 
	
</script>
