<div class="container">
        <dir id="wrapBox">
            <div class="row profile">
                <div class="col-md-3">
                    <div class="profile-sidebar">
                        <!-- SIDEBAR USERPIC -->
                        <div class="profile-userpic">
                            <img src="https://scontent.fphx1-2.fna.fbcdn.net/v/t31.0-8/19780340_10213169583744484_1419970592768067273_o.jpg?oh=0b0eb8138c70356160093ff60d721002&oe=5A35958E" class="img-responsive" alt="">
                        </div>
                        <!-- END SIDEBAR USERPIC -->
                        <!-- SIDEBAR USER TITLE -->
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name">
                                <!-- USE HANDLEBARS FOR LOGIN UPDATE-->
                                Andrew Sutjeda
                            </div>
                            <div class="profile-usertitle-job">
                                <!-- USE HANDLEBARS FOR LOGIN UPDATE-->
                                Developer
                            </div>
                        </div>
                        <!-- END SIDEBAR USER TITLE -->
                        <!-- SIDEBAR BUTTONS -->
                        <!--    <div class="profile-userbuttons">
                    <button type="button" class="btn btn-success btn-sm">Follow</button>
                    <button type="button" class="btn btn-danger btn-sm">Message</button>
                </div> -->
                        <!-- END SIDEBAR BUTTONS -->
                        <!-- SIDEBAR MENU -->
                        <div class="profile-usermenu">
                            <ul class="nav">
                                <li class="active">
                                    <!-- ///////////////////////////////////   MODAl #1   ////////////////////-->
                                    <!-- Trigger/Open The Modal -->
                                    <button class="myBtn_multi">
                                        <!-- Modal 1 -->
                                        <i class="glyphicon glyphicon-plus"></i> Create New Challenge
                                    </button>
                                    <div class="modal modal_multi">
                                        <!-- Modal content -->
                                        <div class="modal-content">
                                            <span class="close close_multi">×</span>
                                            <p>Some text in the Modal..</p>
                                        </div>
                                    </div>
                                </li>
                                <br>
                                <!-- /////////////////////////////////////   MODAL #2   //////////////////////-->
                                <li>
                                    <i class="glyphicon glyphicon-arrow-right"></i> Join Challenge
                                </li>
                                <br>
                                <!-- /////////////////////////////////////   MODAL #3  ///////////////////////-->
                                <li>
                                    <button class="myBtn_multi">
                                        <!-- Modal 3 -->
                                        <i class="glyphicon glyphicon-user">
                                                </i> friends
                                    </button>
                                    <div class="modal modal_multi">
                                        <!-- Modal content -->
                                        <div class="modal-content">
                                            <span class="close close_multi">×</span>
                                            <p>Some text in the Modal..</p>
                                        </div>
                                    </div>
                                </li>
                                <br>
                                <!-- /////////////////////////////////////   MODAL #4    /////////////////////-->
                                <li>
                                    <!-- Trigger/Open The Modal -->
                                    <button class="myBtn_multi">
                                        <i class="glyphicon glyphicon-option-vertical"></i> Challenges Won
                                    </button>
                                    <div class="modal modal_multi">
                                        <!-- Modal content -->
                                        <div class="modal-content">
                                            <span class="close close_multi">×</span>
                                            <p>Some text in the Modal..</p>
                                        </div>
                                    </div>
                                </li>
                                <br>
                                <!-- ///////////////////////////////////////   MODAL #5 //////////////////////-->
                                <li>
                                    <!-- Trigger/Open The Modal -->
                                    <button class="myBtn_multi">
                                        <i class="glyphicon glyphicon-menu-hamburger"></i> Challenge Rules
                                    </button>
                                    <div class="modal modal_multi">
                                        <!-- Modal content -->
                                        <div class="modal-content">
                                            <span class="close close_multi">×</span>
                                            <p>Some text in the Modal..</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- END MENU -->
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="profile-content">
                        <div class="page-header">
                            <h1>(Challenge Name Here)</h1>
                        </div>
                        <!--/////////////// USER #1 /////////////////////////////////////////////////-->
                        <div class="profile-header-container">
                            <div id="prof-pic" class="profile-header-img">
                                <div id="update" class="col-xs-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <span class="input-group-btn">
                                              <button class="btn btn-default" type="button">Update Progress!</button>
                                            </span>
                                    </div>
                                </div>
                                <img id="picture" class="img-circle" src="http://robbiedelfs.codes/wp-content/uploads/2016/08/27bafbe-3.jpg" />
                                <!-- badge -->
                                <div class="rank-label-container">
                                    <span class="label label-default rank-label">Robbie Delfs</span>
                                    <br>
                                    <div class="progress progress-striped active" id="progressouter">
                                        <div class="bar" id="progress"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/////////////// USER #2 /////////////////////////////////////////////////-->
                       </div>
                    </div>
                </div>
            </div>
        </dir>
        <!-- Container Close -->
    </div>
    <br>
    <br>
<script src="\assets\js\challenge.js"></script>