
    <form id="signup" name="signup" method="post" action="/signup">
        <label for="name">Your Name</label>
        <input name="name" type="text" />
        <label for="userName">Your Username</label>
        <input name="username" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="signupbtn" type="submit" value="Sign Up" />
    </form>
 
